<!-- 'Discount' Badge -->


    <!-- Stylesheets -->

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
<span class="badge badge--regular badge--primary">10% off</span>

<span class="badge badge--regular badge--secondary">10% off</span>

<span class="badge badge--small badge--primary">10% off</span>

<span class="badge badge--small badge--secondary">10% off</span>



